{% load static %}
<div class="px-4 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="{% static 'home.jpeg' %}" alt="" width="25%" />
  <h1 class="display-5 fw-bold text-body-emphasis">URL Shortner App</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      This app is built by <a href="https://www.linkedin.com/in/shikharrai/" class="text-decoration-none" target="_blank">Shikhar</a>.<br />
      Free forever!<br />
      Check source code on
      <a href="https://github.com/kakashi215/django-url-shortener" class="text-decoration-none" target="_blank">Github</a>.<br />
      Check other projects on
      <a href="https://kakashi215.github.io/#projects" class="text-decoration-none" target="_blank">Portfolio</a>.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="{% url 'make_short' %}" type="button" class="btn btn-success btn-lg px-4 gap-3">Generate Short URL!</a>
      <a href="{% url 'get_long' %}" type="button" class="btn btn-warning btn-lg px-4 gap-3">Retrieve Long URL!</a>
    </div>
  </div>
</div>
