{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>URL Shortener</title>
    <link rel="icon" type="image/x-icon" href="{% static 'urlShortener/favicon.ico' %}" />

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="URL Shortener" />
    <meta property="og:description" content="A simple Django-based URL shortener with a web interface." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ project_urlShortener_hosted }}" />
    <meta property="og:image" content="{{ project_urlShortener_image }}" />
    <meta property="og:site_name" content="URL Shortener" />
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="URL Shortener" />
    <meta name="twitter:description" content="A simple Django-based URL shortener with a web interface." />
    <meta name="twitter:image" content="{{ project_urlShortener_image }}" />
    <!-- Open Graph meta tags end-->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <!-- Font Awesome icons (free version)-->
    <script src="https://kit.fontawesome.com/396f7a6e97.js" crossorigin="anonymous"></script>
    <style>
      .custom-tooltip {
        margin-left: 0.6% !important;
        --bs-tooltip-bg: var(--bs-indigo);
        --bs-tooltip-color: var(--bs-white);
      }
    </style>
  </head>
  <body>
    {% include "header.html" %}
    <div class="container">
      <br />
      {% if home %} {% include "home.html" %} {% else %} {% include "form.html" %} {% endif %}
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script>
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));

      function resultCopyFn() {
        const result_ele = document.getElementById("id_result");
        if(result_ele && result_ele.value){
          navigator.clipboard.writeText(result_ele.value)
          .then(() => {
            console.log('Text copied to clipboard',result_ele.value);
            document.getElementsByClassName('tooltip-inner')[0].innerHTML = 'Text copied to clipboard!';
          })
          .catch(err => {
            console.error('Failed to copy text: ', err);
          });
        } else {
          document.getElementsByClassName('tooltip-inner')[0].innerHTML = 'Generate URL first!';
        }
      }

      // https://web.dev/articles/async-clipboard#security_and_permissions
      // read this for permissions
      // take permission once in the beginning
      // then anytime user tries to paste from clipboard
      function pasteFromClipboard(elementId) {
        console.log(elementId)
        const result_ele = document.getElementById(elementId);
        if(result_ele){
          navigator.clipboard.readText()
          .then(text => {
            result_ele.value = text;
            console.log('Pasted content: ', text);
          })
          .catch(err => {
            console.error('Failed to paste text: ', err);
          });
        }
        console.log(result_ele);
      }
    </script>
  </body>
</html>
